._*
*.mode1v3
*.pbxuser
*.perspectivev3
*.user
*.ncb
*.suo
*.ilk
*.pch
*.pdb
*.dep
*.idb
*.manifest
*.manifest.res
*.o
*.d
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
xcuserdata
*.xccheckout
*.xcscmblueprint
*.xcscheme
contents.xcworkspacedata
.DS_Store
.svn
.deps
.dirstamp
profile
**/Examples/**/MacOSX/build
**/Examples/**/iOS/build
**/Examples/**/IDEWorkspaceChecks.plist
**/Examples/**/Linux/build
**/Examples/**/LinuxMakefile/build
**/Examples/**/VisualStudio[0-9]*/Win32
**/Examples/**/VisualStudio[0-9]*/x64
**/Examples/**/Builds/x64
**/Examples/**/.vs
**/Examples/**/CodeBlocks/bin
**/Examples/**/CodeBlocks/obj
**/Examples/**/CodeBlocks/*.depend
**/Examples/**/CodeBlocks/*.layout
**/Examples/**/Builds/Android/.gradle
**/Examples/**/Builds/Android/.idea
**/Examples/**/Builds/Android/build
**/Examples/**/Builds/Android/**/*.iml
**/Examples/**/Builds/Android/local.properties
**/Examples/**/Builds/Android/app/build
**/Examples/**/Builds/Android/app/.externalNativeBuild
**/Examples/**/Builds/Android/app/.cxx
**/Examples/**/Builds/Android/lib/build
**/Examples/**Builds/Android/lib/.externalNativeBuild
**/Examples/**/Builds/CLion/cmake-build-*
**/Examples/**/Builds/CLion/.idea
**/Examples/**/Builds/MacOSX/**/Index
**/Examples/**/Builds/MacOSX/**/Intermediates.noindex
**/Examples/**/doxygen/doc
**/Examples/**/doxygen/build
**/Examples/**/.idea
extras/Projucer/JUCECompileEngine.dylib

.idea
**/Examples/**/cmake-build*

.vscode
/build

**/Examples/**/Builds
**/Examples/**/JuceLibraryCode
